alembic==1.13.1
email_validator==2.1.1
Flask==2.0.1
flask_login==0.6.3
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
SQLAlchemy==2.0.27
Werkzeug==2.0.2
WTForms==3.1.2
wtforms_sqlalchemy==0.4.1
