{% extends 'base.html' %}
{% block title %}
Delete Recipe Requirement
{% endblock %}
{% block content %}
<div class="h1">
    <h1>Delete Recipe Requirement</h1>
</div>
<p class="small-text">You're logged in as {{ current_user.username }}</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post"
    action="{{ url_for('inventory.recipe_requirement_delete', recipe_requirement_id=recipe_requirement.id) }}">
    <p class="error">Are you sure you want to delete "{{ recipe_requirement }}" from the list?</p>
    <input type="submit" name="yes" value="Yes" class="btn btn-danger">
    <input type="submit" name="no" value="No" class="btn btn-primary">
</form>
{% endblock %}